<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title>Copm</title>
    <script defer src={~p"/js/phoenix.min.js"}>
    </script>
    <script defer src={~p"/js/phoenix_live_view.min.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        let csrfToken = document
          .querySelector("meta[name='csrf-token']")
          .getAttribute("content");

        let liveSocket = new window.LiveView.LiveSocket("/live", window.Phoenix.Socket, {
          params: { _csrf_token: csrfToken }
        });

        liveSocket.connect();
        window.liveSocket = liveSocket;
      });
    </script>
  </body>
</html>
